/* Google Symbols */
.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' -25,
  'opsz' 20
  
}

/* Feed */
#IndexWrapper {
  padding-top: 10vh;
  min-height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;

}
.post {
  background-color:#181818;
  width: 80vw;
  height: 50vh;
  color: rgb(234, 234, 234);
  margin: 20px;
  padding: 3vw;
  border-style: solid;
  border-color:#333333;
  border-width: 4px;
  border-radius: 5vh;
}
.post-data {
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 20px;
  color: rgba(254, 254, 254, 0.4);
  text-decoration: none;
  font-size: 14px;
  font-family: 'lexend', sans-serif;
}
.post-community:hover {
  color: rgba(254, 254, 254, 0.5);
}
.post-community:active {
  color: rgba(254, 254, 254, 0.3);
}
.post-content {
  text-align: center;
  width: 100%; 
  overflow: hidden;
}
.post-anchor {
  color: rgba(254, 254, 254, 0.5);
  text-decoration: none;
}
.post-anchor:hover{
  text-decoration: underline;
}
h4 {
  text-align: justify; 
  font-family: 'lexend', sans-serif;
  font-size: 25px;
  font-weight: 540;
  margin: 0;
}
p{
  text-align: justify; 
  font-family: 'lexend', sans-serif;
  font-size: 19px;
  font-weight: 100;
  margin: 0;
}
.post-image {
  height: 25vh;
  float: left;
  border-style: solid;
  border-color: #333333;
  border-radius: 5%;
  padding: 0px;
  margin: 0 20px 0 0;
}
.post-response {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  padding: 2%;
  border-top-style: solid;
  border-color: rgba(254, 254, 254, 0.3);
  
}
.post-response a {
  color: rgba(254, 254, 254, 0.6);
  font-family: 'lexend', sans-serif;
  text-decoration: none;
  
}


/* header */
header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  width: 100vw;
  height: 10vh;
  margin: 0;
  padding: 10;
  box-shadow: 0 2px 5px black
}

/* Parley Logo*/
.logo {
  height: 8vh;
  padding-left: 20px;
}
.home-button {
  padding: 0;
  margin: 0;
  display: none;
  margin-left: 2%;
  filter: invert(75%);
}

/* SearchBar */
.search {
  width: max-content;
  display: flex;
  align-items:center;
  padding: 2vh;
  border-radius: 28px;
  width: 300px;
  border-style: solid;
  border-width: 2px;
  color: rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.25s;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.75);
}
.search-input {
  font-size: 16px;
  font-family: 'lexend', sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 1%;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}
.search-input::placeholder, .search-icon {
  color: rgba(254, 254, 254, 0.6)
  ingen aning varför detta funkar och inget annat men 
  när jag förstör koden så ser det ut som jag vill
}

/* ProfileIcon */
.profile-picture {
  border-radius: 50%;
  height: 80%;
  margin: 2px;
}
.profile-icon {
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.profile-icon:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
.profile-icon:active {
  border-color: rgba(255, 255, 255, 0.3);
}

/*HamburgerMenu*/
.hamburger{
  padding-bottom: 5px;
  position: relative;
  display: block;
  width: 55px;
  cursor: pointer;
  padding-left: 2%;

  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(161, 161, 161);
  margin: 6px 0px 0px 0px;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

/* Navigation */
.mobile-nav  {
  display: block;
  position: fixed;
  top: 10vh;
  left: -100%;
  width: 65%;
  min-height: 100vh;
  background-color: #181818;
  z-index: 98;
  transition: 0.4s;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  box-shadow: 2px 0 5px black
}
.mobile-nav.is-active {
  left: 0
}
.nav-anchor {
  display: block;
  border-bottom-style: solid;
  border-width: 2px;
  padding: 3vh;
  color: rgba(255, 255, 255, 0.5);

  text-decoration: none;
  letter-spacing: 2px;
  font-size: 17px;
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.nav-anchor:hover {
  color: rgba(255, 255, 255, 0.8);
}
.nav-anchor:active {
  color: rgba(255, 255, 255, 0.2);
}







/* annars 1024 bredast */
@media (orientation: landscape) {
  .post {
    width: 50vw;
    margin-left: 20%; 
  }
  .search {
    width: 50vw;
  }
  .mobile-nav {
    width: 25vw;
    left: 0;
  }
  .hamburger {
    display: none;
  }
  .home-button {
    display: block;
  }
}
