.body-community{
  background-image: url(/24wuab/img/img/tombraiderbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  background-attachment: fixed;
}
main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
/* Google Symbols */
.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' -25,
  'opsz' 20
}

/* Posts */
.post {
  display: flex;
  flex-direction: column;
  background-color:#181818;
  width: 80vw;
  height: 50vh;
  color: rgb(234, 234, 234);
  margin-bottom: 40px;
  padding: 3vw 3vw 0 3vw;
  border-style: solid;
  border-color:#333333;
  border-width: 4px;
  border-radius: 5vh;
  box-shadow: 1px 1px 20px black;
}
.post-data {
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 20px;
  color: rgba(254, 254, 254, 0.4);
  text-decoration: none;
  font-size: 14px;
  font-family: 'lexend', sans-serif;
}
.post-community:hover {
  color: rgba(254, 254, 254, 0.5);
}
.post-community:active {
  color: rgba(254, 254, 254, 0.3);
}
.post-content {
  text-align: center;
  padding: 10px;
  width: 100%; 
  overflow: hidden;
}
.post a{
  color: rgba(254, 254, 254, 0.5);
  text-decoration: none;
}
.post a:hover{
  text-decoration: underline;
}
h4 {
  text-align: justify; 
  font-family: 'lexend', sans-serif;
  font-size: 25px;
  font-weight: 540;
  margin: 0;
}
p{
  text-align: justify; 
  font-family: 'lexend', sans-serif;
  font-size: 19px;
  font-weight: 100;
  margin: 0;
}
.post img {
  height: 25vh;
  float: left;
  border-style: solid;
  border-color: #333333;
  border-radius: 5%;
  padding: 0px;
  margin: 0 20px 0 0;
}
.post-response {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 10px;
  border-top-style: solid;
  border-color: rgba(254, 254, 254, 0.3);
}
.post-response a {
  color: rgba(254, 254, 254, 0.6);
  font-family: 'lexend', sans-serif;
  text-decoration: none;
  
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  width: 100vw;
  height: 10vh;
  margin: 0;
  box-shadow: 0 2px 5px black;
  z-index: 2;
}

/* Parley Logo*/
.logo {
  height: 8vh;
  padding-left: 20px;
}
.home-button {
  padding: 0;
  margin: 0;
  display: none;
  margin-left: 2%;
  filter: invert(75%);
}

/* SearchBar */
.search {
  width: 55vw;
  display: flex;
  align-items:center;
  padding: 2vh;
  border-radius: 28px;
  border-style: solid;
  border-width: 2px;
  color: rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.25s;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.75);
}
.search-input {
  font-size: 16px;
  font-family: 'lexend', sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 1%;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}
.search-input::placeholder, .search-icon {
  color: rgba(254, 254, 254, 0.6)
  ingen aning varför detta funkar och inget annat men 
  när jag förstör koden så ser det ut som jag vill
}

/* ProfileIcon */
.profile-picture {
  border-radius: 50%;
  height: 80%;
  margin: 2px;
}
.profile-icon {
  margin-right: calc(2% + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.profile-icon:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
.profile-icon:active {
  border-color: rgba(255, 255, 255, 0.3);
}

/*HamburgerMenu*/
.hamburger{
  padding-bottom: 5px;
  position: relative;
  display: block;
  width: 55px;
  cursor: pointer;
  padding-left: 2%;

  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(161, 161, 161);
  margin: 6px 0px 0px 0px;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

/* Navigation */
.mobile-nav  {
  display: block;
  position: fixed;
  top: 10vh;
  left: -100%;
  width: 65%;
  min-height: 100vh;
  background-color: #181818;
  z-index: 2;
  transition: 0.4s;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  box-shadow: 2px 0 5px black
}
.mobile-nav.is-active {
  left: 0
}
.nav-anchor {
  display: block;
  border-bottom-style: solid;
  border-width: 2px;
  padding: 3vh;
  color: rgba(255, 255, 255, 0.5);

  text-decoration: none;
  letter-spacing: 2px;
  font-size: 17px;
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.nav-anchor:hover {
  color: rgba(255, 255, 255, 0.8);
}
.nav-anchor:active {
  color: rgba(255, 255, 255, 0.2);
}

/* Large Cards */
.card {
  background-color: #181818;
  width: 95%;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  font-family: 'lexend', sans-serif;
  margin-bottom: 40px;
}

.card .banner {
  background-image: url(../img/img/jigar-panchal-afvFK3d-NWQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  display: flex;
  justify-content: center;
}


.card .banner .imgBox {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 3px #595959;
  transform: translateY(50%);
}

.card .banner .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-body {
  position: relative;
  padding: 100px 30px 40px;
}

.menu {
  color: #595959;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

.card .card-body .menu:hover {
  background-color: #333333;
}

.card h2.name {
  color: rgb(234, 234, 234);
  text-align: center;
  font-size: 30px;
}
.card h2.name-tombraider {
  color: rgb(234, 234, 234);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.card .title {
  color: #595959;
  font-size: 15px;
  text-align: center;
  margin-bottom: 25px;
}
.title a{
  color: #595959;
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.card .actions{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.card .actions .follow-info {
  padding-bottom: 20px;
  display: flex;
}

.card .actions .follow-info h2{
  text-align: center;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: background-color 100ms ease-in-out;
  color: #595959;
  font-size: 16px;
}

.card .actions .follow-info h2 span{
  color: rgb(234, 234, 234);
  font-weight: bold;
  font-size: 25px;
}

.card .actions .follow-info h2:hover{
  color: #737373;
  background-color: #333333;
  cursor: pointer;
}

.actions .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.actions button{
  background-color: #606060;
  border: none;
  outline: none;
  width: 40%;
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 100ms ease-in-out, 
  transform 100ms cubic-bezier(1, 0, 0, 1)
}

.actions button:hover{
  background-color: #737373;
  transform: scale(1.1);
  cursor: pointer;
}

 .actions button:active{
  background-color: #333333;
  transform: scale(1);
}

.card .description {
  font-size: 16px;
  text-align: center;
  color: rgb(234, 234, 234);
  margin-bottom: 15px;
}

/* Comments */
.comment {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: #181818;
  color: rgb(234, 234, 234);
  padding: 10px 20px;
  border-radius: 1.5rem;
  margin-bottom: 30px;
}
.comment * {
  margin: 3px;
}

.comment .comment-name{
  text-decoration: none;
  color: rgb(161, 161, 161);
}

.comment-response {
  color: rgb(164, 164, 164);
  display: flex;
  justify-content: space-around;
}

.comment .menu{
  color: #ff0000;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

#Wrapper {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-areas: 
  'header'
  'main'
}


/* annars 1024 bredast */
@media (orientation: landscape) {
  #Wrapper {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75% ;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
    'header header'
    'nav main'
  }

  /* cards */

  .card .banner{
    justify-content: start;
  }

  .name{
    position:absolute;
    top: 0;
    left: 45%;
    font-size: 25px;
  }
  .name-tombraider{
    position: absolute;
    top: 0;
    left: 45%;
    font-size: 25px;
  }
  .title {
    position: absolute;
    top: 15%;
    left: 45%;
  }

  .card .banner .imgBox {
    margin-left: 5%;
    transform: translateY(50%);
  }
  
  .post {
    width: 50vw;
  }
  .search {
    width: 50vw;
  }
  .mobile-nav {
    grid-area: nav;
    max-width: 25%;
    left: 0;
  }
  .hamburger {
    display: none;
  }
  .home-button {
    display: block;
  }
  .title-card {
    margin: 0 2vw 40px 2vw;
  }
  .title-card h1 {
    font-size: 6vw;
  }
}
