
#IndexWrapper {
  padding-top: 7vh;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
  'section'
}

/* header */

header { 
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #944ced;
  width: 100vw;
  height: 7vh;
  margin: 0;
  padding: 10;
  
}

header input[type=text] {
  margin: 1.5vh;
  padding: 0.5vh;
  border:2px;
}




.menu-button{
  cursor: pointer;
  display: inline;
}

.menu-button i.material-icons{
  font-size: 3rem;
  margin-left:10px ;
}

/* ----------------- */




/*1024 bredast */
@media (orientation: landscape) {

}
